[buildout]
extends = http://download.zope.org/Zope2/index/2.12.4/versions.cfg
parts = test
develop = .

[versions]
zope.schema = 3.6.0

[test]
recipe = zc.recipe.testrunner
defaults = ['-v', '--ndiff', '-s', 'collective.z3cform.wizard']
eggs = collective.z3cform.wizard[test]
